help customers browse products and create a cart with products that they
wish to purchase.
List of products should be available in the app. The products available in app
are:


Category                    Product

Electronics                   Furniture
Microwave oven                  Table
Television                      Chair
Vacuum Cleaner                  Almirah


As part of initial release, the app should have the following features:

1.     User should be able to view list of products grouped by categories. : DONE
2.     User should be able to view details by selecting a product from list. : DONE
3.     The product details includes an image, name and price of product.
4.     Product details page should have a button to add the product to cart.
5.     Cart displays a list of products along with its price.
6.     Cart also displays the total price for all the products added.
7.     User should be able to view cart at any time.
8.     User should be able to navigate to product details from Cart as well.
9.     User should be able to delete any product from the cart.
10.  Cart should be persisted in the app i.e. if user exits the app, the cart
should be available on re-launch of the app.
11.  All the data needs to be stored locally within the app and should not rely
on any external services for the same.

The app would be evaluated based on following criteria:
1.     Compliance with platform specific guidelines.
2.     UI patterns followed
3.     Coding conventions and standards adhered to.
4.     Simplicity and maintainability of the code

Enhanced visual appearance/beautification of app is not a criterion for
evaluation of the app. Also adding more features will not earn you a better
evaluation.